<!doctype html>
<title>Flask Server</title>
<h1> Hello from Flask Server !</h1>
        <head>
                <meta charset="UTF-8"/>
                <title>Exercice HTML</title>
        </head>
        
<body>

<style>
ul>li{color:red}                
</style>

<h1>les listes en html</h1>
        
<ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
</ul>

<ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
</ol>
<h1>fin de la liste</h1>


<ol>
        <li>Véhicules</li>
        <ul>
                <li>voiture</li>
                
                <li>Camion</li>
                
                <li>scooter</li>       
        </ul>
        
        <li>Hébergement</li>
        <ul>
                <li>Maison</li>
                
                <li>Cabane</li>
                
                <li>Appartement</li>       
        </ul>
        <li>Animeaux</li>
        <ul>
                <li>Chien</li>
                
                <li>Chat</li>
                
                <li>Poisson</li>       
        </ul>
</ol>
<h2>Exercice 2</h2>        
<h1>Mes cocktails préférés</h1>
<ul>  
<li><p>Mojito</p></li>
<li><p>Gin Fizz</p></li>
<li> <p>Bloody mary</p></li>
<li><p>Long Island Iced Tea</p></li>
</ul> 
</body>


</body>
</html>

