<!doctype html>
<title>Flask Server</title>
<h1> Hello from Flask Server !</h1>
        <head>
                <meta charset="UTF-8"/>
                <title>Exercice HTML</title>
        </head>
        
<body>

<style>
ul>li{color:red}                
</style>  
<ol>
        <li>Véhicules</li>
        <ul>
                <li>voiture</li>
                
                <li>Camion</li>
                
                <li>scooter</li>       
        </ul>
        
        <li>Hébergement</li>
        <ul>
                <li>Maison</li>
                
                <li>Cabane</li>
                
                <li>Appartement</li>       
        </ul>
        <li>Animeaux</li>
        <ul>
                <li>Chien</li>
                
                <li>Chat</li>
                
                <li>Poisson</li>       
        </ul>
</ol>



</body>
</html>

